@import "./partials/gallery";
@import "./partials/slider";



.icons{ 

    color: blue;
    font-size: 60px;
    cursor: pointer;
    display: inline-block;
    // display: flex;


    .uploadInput{
        display: none;
        // display: flex;
    }
    img{
        width: 200px;
        height: 200px;
        display: flex;
    }
}